<div data-include="../../components/organisms/hero.html"></div>
<div data-include="../../components/organisms/navbar.html"></div>
<div data-include="../../components/organisms/inicio-section.html"></div>
<div data-include="../../components/organisms/estudios-section.html"></div>
<div data-include="../../components/organisms/pasatiempos-section.html"></div>
<div data-include="../../components/organisms/proyectos-section.html"></div>
<div data-include="../../components/organisms/contacto-section.html"></div>
<div data-include="../../components/organisms/footer.html"></div>


